# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Tệp môi trường
.env

# Thư mục lưu trữ tệp tin tải lên
/public/uploads

# Thư mục hệ thống
.DS_Store
Thumbs.db

# Cấu hình IDE
.vscode/
.idea/

# Tệp cài đặt của các trình soạn thảo mã nguồn khác
*.sublime-workspace
*.sublime-project

# Nodemon (nếu có)
nodemon.json

# Tệp cài đặt môi trường phát triển của Docker (nếu có)
.docker/

# Cấu hình của hệ thống
*.swp
